@import "tailwindcss";

:root {
  /* 白黒 */
  --white: #FFFDFC;
  --black: #252525;

  /* グレー */
  --gray-900: #484848;
  --gray-800: #606060;
  --gray-700: #777676;
  --gray-600: #8D8D8D;
  --gray-500: #A0A0A0;
  --gray-400: #B4B3B3;
  --gray-300: #CAC8C8;
  --gray-200: #DEDEDE;
  --gray-100: #F7F7F7;

  /* キャッスルグリーン */
  --castle-green900: #0B2816;
  --castle-green800: #14331F;
  --castle-green700: #234931;
  --castle-green600: #2F5A3F;
  --castle-green500: #3F6B4F;
  --castle-green400: #5A8068;
  --castle-green300: #729D82;
  --castle-green200: #93C1A4;
  --castle-green100: #B4DCC2;
}

@layer utilities {
  .Heading32 {
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 2rem;
    line-height: 40px;
    letter-spacing: 0;
  }
  .Heading24 {
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 34px;
    letter-spacing: 0;
  }
  .Heading20 {
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 28px;
    letter-spacing: 0;
  }
  .Body16Bold {
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 1rem;
    line-height: 26px;
    letter-spacing: 0;
  }
  .Body16Medium {
    font-family: "Helvetica";
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
    letter-spacing: 0;
  }
  .Body16Regular {
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 1rem;
    line-height: 26px;
    letter-spacing: 0;
  }
  .Body14Bold {
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 22px;
    letter-spacing: 0;
  }
  .Body14Medium {
    font-family: "Helvetica";
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 22px;
    letter-spacing: 0;
  }
  .Body14Regular {
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 22px;
    letter-spacing: 0;
  }
  .Body12Medium {
    font-family: "Helvetica";
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 20px;
    letter-spacing: 0;
  }
  .Body12Regular {
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 20px;
    letter-spacing: 0;
  }
}

@theme inline {
  /* 白黒 */
  --color-white: var(--white);
  --color-black: var(--black);

  /* グレー */
  --color-gray900: var(--gray-900);
  --color-gray800: var(--gray-800);
  --color-gray700: var(--gray-700);
  --color-gray600: var(--gray-600);
  --color-gray500: var(--gray-500);
  --color-gray400: var(--gray-400);
  --color-gray300: var(--gray-300);
  --color-gray200: var(--gray-200);
  --color-gray100: var(--gray-100);

  /* キャッスルグリーン */
  --color-castle-green900: var(--castle-green900);
  --color-castle-green800: var(--castle-green800);
  --color-castle-green700: var(--castle-green700);
  --color-castle-green600: var(--castle-green600);
  --color-castle-green500: var(--castle-green500);
  --color-castle-green400: var(--castle-green400);
  --color-castle-green300: var(--castle-green300);
  --color-castle-green200: var(--castle-green200);
  --color-castle-green100: var(--castle-green100);
}

body {
  background: var(--white);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}
